<%- include("templates/header") %>
    log in
    <form action='/login' method='post'>
        <div class="row">
            <div class="col-3">
                <input class="form-control" name='email' type='email' placeholder='email'><br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input class="form-control" name='password' type='password' placeholder='password'><br>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button class="btn btn-primary">Submit</button>
            </div>
            <div class="col-2">
                <!-- Reset Password Button -->
                <a href="/resetPassword" class="btn btn-secondary">Reset Password</a>
            </div>
        </div>
    </form>
    <%- include("templates/footer") %>