<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Link Sent</title>
</head>

<body>
    <h1>Reset Link Sent</h1>
    <p>If the email you entered matches our records, a link to reset your password has been sent.</p>
</body>

</html>